html, body{
    font-size:0;
    padding: 0;
    margin: 0;
}
html{
    font-family: Rubik, sans-serif;
}
body {
    background-color: #1F2421;
}

.profile-image {

    display: inline-block;
    
    width: 40%;
    height: 650px;
    text-align: center;
}

.profile-image img{
    
    width: 350px;
    height: 350px;
    border-radius: 250px;
    margin-top: 120px;
    margin-left: 38%;
}

.profile-text{
    color: #DCE1DE;
    display: inline-block;
    
    vertical-align: top;
    height: 650px;
    text-align:center;
    width: 60%;
    overflow: hidden;
}

.profile-text h1{
    color: #DCE1DE;
    font-size: 54px;
    margin-top:230px;
    margin-left: 5%;
    text-align: left;    
    ;
}
.profile-text h2{
    color: #DCE1DE;
    font-size: 16px;
    margin-top: -12px;
    margin-left: 5%;
    text-align: left;
    
}
.menu-list{
    color: #DCE1DE;
    text-align: right;
    font-size: 26px;
    margin-top: 0;
    list-style: none;
}
.menu-list a{
    color: #DCE1DE;
    text-decoration: none;
}
.menu-list li{
    display: inline-block;
    margin: 0 30px 0 30px;
}

.profile-text span{
    color: #216869;
    display: block;
}
.portfolio-list{
    color: #DCE1DE;
    text-align: center;
    font-size: 26px;
    margin-top: 0;
    list-style: none;
}
.portfolio-list li{
    display: inline-block;
}
.portfolio-list a{
    color: #DCE1DE;
    
}

.portfolio-list h1{
    color: #216869;
    font-size: 54px;
    margin-left: 5%;
    margin-top: 0;
    height: 38px;
    text-align: left;
}

.portfolio-list p{
    color: #DCE1DE;
    font-size: 26px;
    margin-left: 8%;
    margin-right: 8%;
    text-align: justify;
    height: 180px;
}
.portfolio-path{
    color: #DCE1DE;
    text-align: left;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 0;
    list-style: none;
}
.portfolio-path a{
    color: #DCE1DE;
}
.portfolio-projects img {
    display: inline-block;
}

.contact-list{
    color: #DCE1DE;
    text-align: center;
    font-size: 26px;
    margin-top: 0;
    
}
.contact-list li{
    display: inline-block;

}
.curriculo{
    color: #DCE1DE;
    font-size: 26px;
    margin-top: 0;
    
}

.curriculo h1{
    color: #216869;
    text-align: center;
    font-size: 54px;
    margin-left: 5%;
    margin-top: 0;
    height: 38px;
    text-align: left;
}
.curriculo h2{
    color: #216869;
    font-size: 30px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
}

.curriculo h3{
    color: #DCE1DE;
    font-size: 26px;
    margin-left: 6%;
}

.curriculo span{
    color: #DCE1DE;
    font-weight: 100;
    font-size: smaller;
    
}

.curriculo p{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    font-weight:100;
}
.curriculo li{
    display: inline-block;
}

.curriculo-path {
    color: #DCE1DE;
    text-align: left;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 0;
    list-style: none;
}

.curriculo-path a{
    color: #DCE1DE;
}

